snippet tt Create unordered task
    * [ ] 

snippet to Create ordered task
    # [ ] 

snippet h Create heading
    = $1 =

snippet hh Create heading 2
    == $1 ==

snippet hhh Create heading 3
    === $1 ===
