* {
    font-family: "Mononoki Nerd Font";
    font-size: 12pt;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
}

.modules-right {
    background: rgba(40, 44, 52, 0.5);
    border-radius: 3px;
    margin: 20px;
    padding: 8px;
}

tooltip {
    background: rgba(40, 44, 52, 0.85);
}

tooltip label {
    color: #abb2bf;
}

#clock,
#pulseaudio {
    font-size: 8pt;
}
